name: ci

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  get-changed-images:
    name: get changed images
    runs-on: ubuntu-24.04
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'release-please') }}
    outputs:
      images-to-build: ${{ steps.changed-files.outputs.all_changed_and_modified_files }}
    steps:
      - name: "Checkout code"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Get changed files in the images folder
        id: changed-files
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          path: images/
          files: "./**"
          dir_names_exclude_current_dir: true
          files_ignore: version.txt
          dir_names: true
          matrix: true

      - name: print
        env:
          CHANGED_FILES_LIST: "${{ steps.changed-files.outputs.all_changed_and_modified_files }}"
        run: |
          echo "${CHANGED_FILES_LIST}"

  build:
    uses: miracum/.github/.github/workflows/standard-build.yaml@fc54adae638f776ca89a44f14fffc38c282da414 # v1.20.1
    needs:
      - get-changed-images
    permissions:
      contents: write
      id-token: write
      packages: write
      pull-requests: write
      actions: read
      security-events: write
    strategy:
      matrix:
        image: ${{ fromJSON(needs.get-changed-images.outputs.images-to-build) }}
    with:
      image: ghcr.io/${{ github.repository }}/${{ matrix.image }}
      build-context: images/${{ matrix.image }}
      enable-build-test-layer: false
      enable-upload-test-image: false
      enable-upload-image: false
      enable-trivy-scan: ${{ matrix.image != 'ml-on-fhir' }}
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}

  lint:
    uses: miracum/.github/.github/workflows/standard-lint.yaml@fc54adae638f776ca89a44f14fffc38c282da414 # v1.20.1
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'release-please') }}
    permissions:
      contents: read
      pull-requests: write
      issues: write
      security-events: write
      actions: read
    with:
      enable-validate-gradle-wrapper: false
      enable-codeql: false
      enable-verify-base-image-signature: false
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
