name: scheduled

on:
  repository_dispatch: {}
  workflow_dispatch: {}
  schedule:
    - cron: "00 18 * * *"

permissions:
  contents: read

jobs:
  schedule:
    uses: miracum/.github/.github/workflows/standard-schedule.yaml@f8a5d9da93963f4dfe7111954bd1325bacec2498 # v1.18.1
    permissions:
      contents: read
      issues: write
      security-events: write
    with:
      images: |
        [
          'ghcr.io/${{ github.repository }}/strimzi-kafka-connect:latest',
          'ghcr.io/${{ github.repository }}/cricketeerone-kafka-connect:latest',
          'ghcr.io/${{ github.repository }}/apache-superset:latest',
          'ghcr.io/${{ github.repository }}/ml-on-fhir:latest',
          'ghcr.io/${{ github.repository }}/coder-base:latest',
          'ghcr.io/${{ github.repository }}/hive-metastore:latest',
          'ghcr.io/${{ github.repository }}/dsf-bpe-full:latest',
          'ghcr.io/${{ github.repository }}/semantic-release:latest'
        ]
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
