name: scheduled

on:
  repository_dispatch: {}
  workflow_dispatch: {}
  schedule:
    - cron: "00 18 * * *"

permissions: read-all

jobs:
  schedule:
    uses: miracum/.github/.github/workflows/standard-schedule.yaml@d312bc78e5a4ab6bafc71979f80962177abc6336 # v1.5.7
    permissions:
      contents: read
      issues: write
      security-events: write
    with:
      images: |
        [
          'ghcr.io/${{ github.repository }}/spark-delta:latest',
          'ghcr.io/${{ github.repository }}/strimzi-kafka-connect:latest',
          'ghcr.io/${{ github.repository }}/cricketeerone-kafka-connect:latest',
          'ghcr.io/${{ github.repository }}/apache-superset:latest',
          'ghcr.io/${{ github.repository }}/kyuubi-delta:latest',
          'ghcr.io/${{ github.repository }}/ml-on-fhir:latest'
        ]
    secrets:
      github-token: ${{ secrets.GITHUB_TOKEN }}
